@import url("https://fonts.googleapis.com/css?family=Michroma&display=swap");

body {
    font-family: Michroma, serif;
    background: linear-gradient(180deg, #1e00ff 0%, #ffffff 100%);
}

p {
    color: aquamarine;
}

.bg-dark {
    background-color: rgb(1, 1, 1);
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: grey;
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(70, 73, 74);
}

.sidebar {
    color: aquamarine;
    background: linear-gradient(180deg, #1e00ff 0%, #ffffff 100%);
}

.card {
    background: linear-gradient(135deg, #1e00ff 0%, #ffffff 100%);
    color: aquamarine;
}

.card a {
    text-decoration: none;
    color: aquamarine;
}

.slide-text {
    color: aquamarine;
    margin: auto auto;
}

footer  {
    color: black;
    background: linear-gradient(-45deg, #1e00ff 0%, #ffffff 100%);
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center p {
    color: black;
}



.call-anim{
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
.btn-primary{
    background: linear-gradient(25deg, #1e00ff 0%, #ffffff 100%);
}


@media(max-width:755px) {
    .carousel-indicators {
        display: none;
    }
}